<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Chào mừng đến với PTN Tấn Thịnh!</div>
    <div class="masthead-heading text-uppercase">
      Giải pháp kiểm nghiệm & Nghiên cứu chính xác
    </div>
  </div>
</header>
