<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">
      <a class="navbar-brand" href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 350 100"
          style="height: 3.5rem; width: auto"
        >
          <defs>
            <style>
              .logo-text {
                fill: #ffc107;
                font-size: 55px;
                font-family: "Kalam", cursive;
                font-weight: 300; /* Nét thanh mảnh */
                font-style: normal;
                text-transform: none; /* Không in hoa */
              }
            </style>
            <link
              href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap"
              rel="stylesheet"
            />
          </defs>
          <text x="20" y="70" class="logo-text">Trang chủ</text>
        </svg>
      </a>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/service">Dịch vụ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">Dự án</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">Tin tức</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cong-bo-nang-luc">Công bố năng lực</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
